// .stting-section {
//   transform: translateX(-200vw);
// }

// .profile-section {
//   transform: translateX(-100vw);
// }

// .home-section {
//   transform: translateX(0vw);
// }

// .avtivity-section {
//   transform: translateX(100vw);
// }

// .blog-section {
//   transform: translateX(200vw);
// }

.w-screen-500 {
  width: 500vw;
}

.h-screen-8 {
  height: 8vh;
}

.h-screen-92 {
  height: 92vh;
}

.active-icon {
  background-color: #03dac6;
  box-shadow: #fff 0px 6px 13px -5px;
  border-radius: 100%;
  position: relative;
  transform: translateY(-23px);
  scale: 1.2;
}

.theme-bg {
  background-color: #121212;
}

.theme-bg2 {
  background-color: #1e1e1e;
}

.theme-purple {
  background-color: #03dac6;
}

.theme-blue {
  background-color: #03dac6;
}

.color-purple {
  color: #03dac6;
}

.color-blue {
  color: #03dac6;
}

.border-purple {
  border: #03dac6 2px solid;
}

// bb86fc

.activity-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activity-home::before {
  content: "";
  width: 40%;
  height: 2px;
  background-color: #03dac6;
  position: relative;
  border-radius: 100px;
  margin-top: 2px;
}

.activity-home::after {
  content: "";
  width: 40%;
  height: 2px;
  background-color: #03dac6;
  position: relative;
  border-radius: 100px;
  margin-top: 2px;
}

.text-2xs {
  font-size: 0.7rem;
  line-height: 0.9rem;
}

.user-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-profile::before {
  content: "";
  width: 28%;
  height: 2px;
  background-color: #03dac6;
  position: relative;
  border-radius: 100px;
  margin-top: 2px;
}

.user-profile::after {
  content: "";
  width: 28%;
  height: 2px;
  background-color: #03dac6;
  position: relative;
  border-radius: 100px;
  margin-top: 2px;
}

@media screen and (min-width:670px) {
  .user-profile::before {
  content: "";
  width: 38%;
  height: 2px;
  background-color: #03dac6;
  position: relative;
  border-radius: 100px;
  margin-top: 2px;
}

.user-profile::after {
  content: "";
  width: 38%;
  height: 2px;
  background-color: #03dac6;
  position: relative;
  border-radius: 100px;
  margin-top: 2px;
}

}

@media screen and (min-width:900px) {
  .user-profile::before {
  content: "";
  width: 42%;
  height: 2px;
  background-color: #03dac6;
  position: relative;
  border-radius: 100px;
  margin-top: 2px;
}

.user-profile::after {
  content: "";
  width: 42%;
  height: 2px;
  background-color: #03dac6;
  position: relative;
  border-radius: 100px;
  margin-top: 2px;
}

}

.progress-bar-time {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(hotpink 75%, pink 0);    
}

.progress-bar-time::before {
  content: "75%";
}