// .stting-section {
//   transform: translateX(-200vw);
// }

// .profile-section {
//   transform: translateX(-100vw);
// }

// .home-section {
//   transform: translateX(0vw);
// }

// .avtivity-section {
//   transform: translateX(100vw);
// }

// .blog-section {
//   transform: translateX(200vw);
// }

.w-screen-500 {
  width: 500vw;
}

.h-screen-8 {
  height: 8vh;
}

.h-screen-92 {
  height: 92vh;
}

.active-icon {
  background-color: #03dac6;
  box-shadow: #fff 0px 6px 13px -5px;
  border-radius: 100%;
  position: relative;
  transform: translateY(-23px);
  scale: 1.2;
}

.theme-bg {
  background-color: #121212;
}

.theme-purple {
  background-color: #bb86fc;
}

.theme-blue {
  background-color: #03dac6;
}

.color-purple {
  color: #bb86fc;
}

.color-blue {
  color: #03dac6;
}

.border-purple {
  border: #bb86fc 2px solid;
}

.activity-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activity-home::before {
  content: "";
  width: 40%;
  height: 2px;
  background-color: #bb86fc;
  position: relative;
  border-radius: 100px;
  margin-top: 2px;
}

.activity-home::after {
  content: "";
  width: 40%;
  height: 2px;
  background-color: #bb86fc;
  position: relative;
  border-radius: 100px;
  margin-top: 2px;
}

